.form-group{
    margin-left: 40%;
    margin-top: 5%; 
}
#navbarInput-01{
    margin-left: 20%;
}
h5{
    color: white;
}
 html, body{
    height: 100%;
 }
#container{
    min-height:100%;
    position:relative;
}
#footer{
    height:50px;
    line-height:50px;
    background:#333;
    color:#fff;
 
    position:absolute;
    bottom:0px;
}

